.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  /* .frame .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 5911.7px;
    overflow-x: hidden;
    width: 100%;
  } */
  
  /* .frame .overlap {
    height: 6003px;
    left: -1px;
    position: relative;
    width: 1921px;
  } */
  
  /* .frame .div-next {
    height: 5928px;
    left: 1px;
    position: absolute;
    top: 75px;
    width: 1919px;
  } */
  
  /* .frame .overlap-group {
    height: 5917px;
    left: -1px;
    position: relative;
    width: 1921px;
  } */
  
  .frame .div-page {
    height: 5562px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1921px;
  }
  
  .frame .footer {
    align-items: flex-start;
    background-color: #181818;
    display: flex;
    left: 0;
    mix-blend-mode: normal;
    padding: 60px 156.68px 70px 156.66px;
    position: absolute;
    top: 5551px;
    width: 1920px;
  }
  
  .frame .div-row {
    height: 236px;
    position: relative;
    width: 1606.66px;
  }
  
  .frame .div-order {
    align-items: flex-start;
    display: flex;
    left: 0;
    max-width: 1606.66px;
    padding: 0px 20px;
    position: absolute;
    top: 0;
    width: 1145px;
  }
  
  .frame .list {
    height: 64px;
    position: relative;
    width: 1104.94px;
  }
  
  .frame .div {
    height: 65px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 101px;
  }
  
  .frame .item {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 0;
  }
  
  .frame .text-wrapper {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .link-newsletter-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 32px;
  }
  
  .frame .overlap-2 {
    height: 65px;
    left: 106px;
    position: absolute;
    top: -1px;
    width: 194px;
  }
  
  .frame .link-contact-us-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 98px;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 0;
  }
  
  .frame .link-accessibility-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 25px;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 32px;
  }
  
  .frame .link-sustainability-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 329px;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: -1px;
  }
  
  .frame .link-media-center-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 480px;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: -1px;
  }
  
  .frame .link-privacy-legal-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 622px;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: -1px;
  }
  
  .frame .link-cookie-settings-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 782px;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: -1px;
  }
  
  .frame .link-sitemap-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 946px;
    max-width: 1104.94px;
    padding: 0px 0px 1px;
    position: absolute;
    top: -1px;
  }
  
  .frame .img {
    height: 94px;
    left: 1145px;
    position: absolute;
    top: 0;
    width: 462px;
  }
  
  .frame .overlap-3 {
    height: 142px;
    left: 0;
    position: absolute;
    top: 94px;
    width: 1607px;
  }
  
  .frame .list-item-wrapper {
    align-items: flex-start;
    display: flex;
    left: 0;
    max-width: 1606.66px;
    padding: 0px 20px 30px;
    position: absolute;
    top: 0;
    width: 1607px;
  }
  
  .frame .list-item {
    height: 56px;
    position: relative;
    width: 1566.66px;
  }
  
  .frame .text-wrapper-2 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 28px;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .frame .p {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 28px;
    left: 14px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-3 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 28px;
    left: 14px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 27px;
    white-space: nowrap;
  }
  
  .frame .div-body-wrapper {
    align-items: flex-start;
    display: flex;
    left: 0;
    max-width: 1606.66px;
    padding: 0px 98.35px 0px 20px;
    position: absolute;
    top: 85px;
    width: 1607px;
  }
  
  .frame .div-body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 1526.33px;
    padding: 0px 811.31px 1px 0px;
    position: relative;
    width: 1488.31px;
  }
  
  .frame .text-wrapper-4 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    margin-right: -197px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .text-wrapper-5 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .app-store-en {
    height: 40px;
    margin-right: -119.66px;
    position: relative;
    width: 119.66px;
  }
  
  .frame .gsqqalpjsfqgje {
    height: 1051px;
    left: 1px;
    position: absolute;
    top: 1203px;
    width: 1920px;
  }
  
  .frame .div-fixed-bottom {
    align-items: flex-start;
    background-color: #000000e6;
    display: flex;
    justify-content: center;
    left: 1px;
    padding: 4px 440.84px 6px 442.16px;
    position: absolute;
    top: 1046px;
    width: 1920px;
  }
  
  .frame .embark-on-an-olympic {
    color: #ffffff;
    font-family: "Be Vietnam", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27.5px;
    margin-left: -33.5px;
    margin-right: -33.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .header {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    height: 92px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1921px;
  }
  
  .frame .nav {
    background-color: #181818;
    height: 94px;
    margin-bottom: -2px;
    position: relative;
    width: 1921px;
  }
  
  .frame .overlap-4 {
    height: 31px;
    left: 160px;
    position: absolute;
    top: 30px;
    width: 409px;
  }
  
  .frame .list-2 {
    height: 24px;
    left: 12px;
    position: absolute;
    top: 5px;
    width: 397px;
  }
  
  .frame .link-BEYOND-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 112px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 0;
  }
  
  .frame .text-wrapper-6 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .link-OWNERSHIP-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 219px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 0;
  }
  
  .frame .link-MOTORSPORT-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 311px;
    padding: 0px 0px 1px;
    position: absolute;
    top: -1px;
  }
  
  .frame .athletes {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 31px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 89px;
  }
  
  .frame .overlap-group-2 {
    height: 31px;
    left: 1472px;
    position: absolute;
    top: 34px;
    width: 199px;
  }
  
  .frame .list-3 {
    height: 21px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 163px;
  }
  
  .frame .link-store-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: -8px;
    padding: 0px 0.3px 0px 0px;
    position: absolute;
    top: -8px;
  }
  
  .frame .item-2 {
    align-items: flex-start;
    display: inline-flex;
    left: 148px;
    padding: 0px 0px 1px;
    position: absolute;
    top: -9px;
    transform: rotate(180deg);
  }
  
  .frame .vector {
    height: 22px;
    margin-bottom: -1.5px;
    margin-left: -0.5px;
    position: relative;
    transform: rotate(-180deg);
    width: 18px;
  }
  
  .frame .heading {
    height: 24px;
    margin-bottom: -1px;
    position: relative;
    width: 71px;
  }
  
  .frame .link-MUSEUM {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 143px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .frame .link-MUSEUM-2 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 1378px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 35px;
    white-space: nowrap;
  }
  
  .frame .div-d-flex {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    height: 28px;
    left: 1737px;
    position: absolute;
    top: 32px;
  }
  
  .frame .button-open-chatbot {
    flex: 0 0 auto;
    height: 25px;
    position: relative;
  }
  
  .frame .button-search {
    flex: 0 0 auto;
    position: relative;
  }
  
  .frame .button-open-menu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px 0px;
    position: relative;
    width: 25px;
  }
  
  .frame .div-2 {
    background-color: #ffffff;
    height: 1px;
    opacity: 0.8;
    position: relative;
    width: 25px;
  }
  
  .frame .logo-color {
    height: 40px;
    left: 39px;
    position: absolute;
    top: 26px;
    width: 87px;
  }
  
  .frame .vector-2 {
    height: 28px;
    left: 1684px;
    position: absolute;
    top: 32px;
    width: 29px;
  }
  
  .frame .logo-color-2 {
    height: 40px;
    left: 41px;
    position: absolute;
    top: 1235px;
    width: 87px;
  }